.back {
  position: relative;
  overflow: hidden;
}

.back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  background-image: url('/src/images/about.png');
  background-size: cover;
  background-position: center;
  z-index: -1; 
}
.vision{
   position: relative;
  overflow: hidden;
   background-image: url('/src/images/vision.png');
  background-size: cover;
  background-position: center;
  z-index: -1; 
}