.background {
  position: relative;
  overflow: hidden;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  background-image: url('/src/images/backg.png');
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* blur effect */
  z-index: -1; /* place behind content */
}/* style.css */
